###################################
#
#  Meraculous params file
#
###################################

# Describe the libraries ( one line per library )
# lib_seq [ wildcard ][ prefix ][ insAvg ][ insSdev ][ avgReadLen ][ hasInnieArtifact ][ isRevComped ][ useForContigging ][ onoSetId ][ useForGapClosing ][ 5pWiggleRoom ][3pWiggleRoom]
#

#Using the erenna file format
lib_seq /mydir/fwd_data*.1.fastq.gz,/mydir/rev_data*.2.fastq.gz SP2013 720 100 100 0 0 1 1 1 0 0 
lib_seq /mydir1*.fastq.gz,/mydir2*.fastq.gz SPAGET 555 400 150 1 1 0 0 0 1 1


### Based on the predicted size
genome_size 0.328

### Kmer genie suggests k=64
mer_size 71

diploid_mode 1

### Our server has 1000TB memory, so one prefix block should be fine for the most demanding datasets
num_prefix_blocks 1

### Running at 0 for the first run, check mercount.png after meraculous_mercount is done 
min_depth_cutoff 0

### first time running this, so just use 0 to validate
no_read_validation 0

### Erenna isn't a cluster, use 0
use_cluster 0

### based on server's 96 threads, save 6 for other people
local_num_procs 27

local_max_retries 0
