###################################
#
#  Meraculous params file
#
###################################

lib_seq reads/SRR353630_2500_1.fastq.gz,reads/SRR353630_2500_2.fastq.gz SRR353630 300 50 150 0 0 1 1 1 0 0 
genome_size 0.01
mer_size 71
diploid_mode 0
num_prefix_blocks 1
min_depth_cutoff 0
no_read_validation 0
use_cluster 0
local_num_procs 27
local_max_retries 0
